
/animationtest.xcodeproj/xcuserdata
/animationtest.xcodeproj/project.xcworkspace/xcuserdata
/Pods
/animationtest.xcworkspace
/animationtest.xcworkspace/xcuserdata/dengxudong.xcuserdatad/UserInterfaceState.xcuserstate
/fastlane
/install_fir.sh
/animationtest.app.dSYM.zip
/animationtest.ipa
/Gemfile.lock
.DS_Store
/Gemfile.lock
/Gemfile
IDEWorkspaceChecks.plist
